body {
    background-color: lightyellow;
}

img {
    width: 400px;
}

header {
    background-color: rgb(140, 235, 194);
}

footer {
    background-color: rgb(140, 235, 194);
}

.menor {
    color: rgb(202, 60, 60);
}

.menordos {
    color: rgb(202, 60, 60);
}

.menortres {
    color: rgb(202, 60, 60);
}

.mayor {
    color: rgb(128, 162, 229);
}

.mayordos {
    color: rgb(128, 162, 229);
}

.lobo {
    color: rgb(231, 176, 57);
}